body{

font-family: Arial;
margin:0;
background:#f4f4f4;
color:#222;

}

header{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#111;
color:white;

}

nav a{

color:white;
margin:10px;
text-decoration:none;

}

.banner{

text-align:center;
padding:40px;
background:linear-gradient(90deg,#1e90ff,#00c853);
color:white;

}

.store{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;

}

.card{

background:white;
padding:15px;
border-radius:10px;
text-align:center;
box-shadow:0 5px 10px rgba(0,0,0,0.2);

}

.card img{

width:100%;
border-radius:10px;

}

button{

background:#1e90ff;
border:none;
padding:10px;
color:white;
cursor:pointer;
border-radius:5px;

}

button:hover{

background:#0077ff;

}

footer{

text-align:center;
padding:15px;
background:#111;
color:white;

}


/* modo escuro */

.dark{

background:#111;
color:white;

}

.dark .card{

background:#222;

}